#inspiration {
  background-image: url(/images/crowd.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  .breakout {
    .logo {
      display: block;
      height: 300px;
      margin: auto auto;
    }
    .message {
      text-align: center;
      font-size: 40px;
      margin-top: 30px;
      margin-bottom: 50px;
      margin-right: 50px;
      margin-left: 50px;
      font-weight: 200;
    }
    color: black;
  }

  h2 {
    font-weight: 100;
  }

}
