@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "components/onepage-scroll";

#main {
    section {
        padding-top: $navbar-height;
        &#inspiration {}
        &#motivation {}
        &#what-we-do {}
        &#tribe {}
        &#join {
          background-image: url("../images/crowd.png");
          background-size: cover;
        }
    }
}

.breakout {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}