$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "components/onepage-scroll";

#main {
    section {
        &#inspiration {}
        &#motivation {}
        &#what-we-do {}
        &#tribe {}
        &#join {
          background-image: url("../images/crowd.png");
          background-size: cover;
        }
    }
}

.breakout {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}